.page {
  display: flex;
  place-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page h1 {
  text-align: center;
}

.page form {
  display: flex;
  place-items: center;
}

.movies {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 2rem;
}

.movie {
  text-align: center;
}

.movie img {
  border-radius: 2rem;
}